{% extends 'base.html.twig' %}

{% block title %}New Keyboard{% endblock %}

{% block body %}
    <h1>Create new Keyboard</h1>

    {{ include('back/material/keyboard/_form.html.twig') }}

    <a href="{{ path('app_back_material_keyboard_index') }}">back to list</a>
{% endblock %}
