{% extends 'base.html.twig' %}

{% block title %}Edit Videoprojector{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title">
        <h1>Editer le Videoprojecteur</h1>
    </div>

    <div class="edit__container-form">
        {{ include('back/material/videoprojector/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="edit__container-form">
        <div class="show__container-btn">
            <a class="btn-list" href="{{ path('app_back_material_videoprojector_index') }}">back to list</a>

            {{ include('back/material/videoprojector/_delete_form.html.twig') }}
        </div>
    </div>

</div>

{% endblock %}
