{% extends 'base.html.twig' %}

{% block title %}Edit InternalLocation{% endblock %}

{% block body %}
    <h1>Edit InternalLocation</h1>

    {{ include('back/internal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_internal_index') }}">back to list</a>

    {{ include('back/internal/_delete_form.html.twig') }}
{% endblock %}
