{% extends 'base.html.twig' %}

{% block title %}New InternalLocation{% endblock %}

{% block body %}
    <h1>Create new InternalLocation</h1>

    {{ include('back/internal/_form.html.twig') }}

    <a href="{{ path('app_back_internal_index') }}">back to list</a>
{% endblock %}
