/*CSS front HomePage*/

.home__container-title{
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home__image{
    background-image: url('../images/home.webp');
}

.function__image{
    background-image: url('../images/manage.webp');
}

.userDoc__image{
    background-image: url('../images/documentation.webp');
    background-position: bottom;
}

.adminDoc__image{
    background-image: url('../images/docadmin.webp');
    background-position: left;
}

.home__container-title h1{
    width: 90%;
    padding: 2rem;
    background-color: rgb(253,254,254,0.6);
    font-weight: bold;
}


.home__container-content{
    width: 90%;
    margin: 1.5rem auto;
    padding: 1rem;
}

.home__h2{
    margin: 2rem 0;
}

.box__card-flex{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    padding:0
}

.flex__card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 1px solid #DC7633;
    border-radius: 8px;
    box-shadow: 1px 3px 3px #DC7633;
    margin: 1rem 0;
    justify-content: center;
}

.flex__card h3{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(255,255,255,0.6);
    
}

.flex__card p{
    padding: 1rem;
    text-align: center;
}

.card__mobile--d-none{
    display: none;
}

.bg__home--card-1{
    background-image: url('../images/home-case1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg__home--card-2{
    background-image: url('../images/home-case2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg__home--card-3{
    background-image: url('../images/home-case3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box__content-flex{
    display: flex;
    flex-direction: column;
}

.img__homepage{
    width: 100%;
    height: auto;
}

.collaborative__tool{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link__mobile--display-none{
    display: none;
}

/* End CSS front Home Page*/
/* CSS functionnality page */

.material__flex-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: flex-start;
}

.material__flex-content .box__material{
    display: flex;
    width: 250px;
    height: 250px;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
}

.material__flex-content .box__material p{
    display: block;
    padding: 1rem;
    background-color: rgb(253,254,254,0.6);
    color:#283747;
    font-weight: bold;
}

.img__material-1{
    background-image: url('../images/ordinateur.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img__material-2{
    background-image: url('../images/laptop.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img__material-3{
    background-image: url('../images/videoprojecteur.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img__material-4{
    background-image: url('../images/ecran.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img__material-5{
    background-image: url('../images/clavier.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img__material-6{
    background-image: url('../images/souris.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.functionnality__tool{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* End Functionnality Page */

/* CSS 403*/

.bg_error{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.img_403{
    background-image: url('../images/forbidden.webp');
    background-size: cover;
}

.img_404{
    background-image: url('../images/404.jpeg');
    background-size: cover;
}

.bg_error>div{
    width: 50%;
    padding: 2rem 2rem;
    background-color: #DC7633;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
}

.bg_error>div>p{
   font-size: 1rem;
}

.bg_error>div>span{
    opacity: initial;
    color: #ffffff;
}



/* End CSS 403*/

/* CSS Crédit */

.creditList li a{
    text-decoration: none;
    color:#DC7633;
    font-weight: bold;
}

.creditList li a:hover{
    color:#283747;
}

/* End Crédit */

/* CSS Connection Page */

.connection__box{
    height: 75vh;
}

/* End Connection Page */

/* CSS doc Page */

.doc__box{
    min-height: 80vh;
}

.display-none{
    display: none;
}

.text__area{
    padding: 1rem;
    text-align: justify;
}

.text__area>div:last-child{
    display: block;
    width: 100px;
    padding : 0.5rem 0.5rem; 
    background-color: red;
    text-align: center;
    margin: auto;
    color :white;
    border-radius: 5px;
    transform: scale(1);
}

.text__area>div:last-child:hover{
    transform: scale(0.9);
}
/* End doc Page */


@media (min-width:768px){

    .box__card-flex{
        justify-content: space-between;
    }

    .flex__card{
        width: 30%;
        margin: 0 0.5rem;
        height: auto;
        justify-content: initial;
    }

    .flex__card h3{
        width: 100%;
        height: 150px;
        margin:0;
        font-weight: bold;
        
    }

    .card__mobile--d-none{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        height: 150px ;
        padding: 0.5rem;
        text-align: center;
    }

    .link__content-download{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #283747;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    
    .link__content-download h2{
        font-size: 1.5rem;
        color: #ffffff;
        text-align: center;
        margin: 1rem;
    }
    
    .link__content-download p{
        color:#DC7633;
    }
    
    .link__content-download a{
        display: flex;
        width: 200px;
        padding: 0.5rem;
        margin: 0.5rem;
        text-align: center;
        background-color: #95A5A6;
        text-decoration: none;
        color: #ffffff;
        border-radius: 4px;
    }

    .link__content-download a:hover{
        background-color: #DC7633;
        color: #ffffff;
    }
    
    .box__content-flex>.img__homepage{
        display: none;
    }
    

}

@media (min-width:1024px){
    .box__content-flex{
        flex-direction: row;
    }

    .box__content-flex>.collaborative__tool{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 2rem;
        text-align: justify;
        
    }

    .box__content-flex>.functionnality__tool{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 2rem;
        text-align: justify;
        
    }

    .box__content-flex>.img__homepage{
        display: block;
        width: 30%;
    }

    .box__content-flex>.img__functionnality{
        width: 30%;
    }

}



