{% extends 'base.html.twig' %}

{% block title %}New Monitor{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title orange">
        <h1>Ajouter un écran</h1>
    </div>

    <div class="edit__container-form">
        {{ include('back/material/monitor/_form.html.twig') }}
    </div>

    <div class="edit__container-form">

        <div class="new__container-btn">
            <a class="btn-list" href="{{ path('app_back_material_monitor_index') }}">back to list</a>
        </div>

    </div>

</div>
{% endblock %}
