{% extends 'base.html.twig' %}

{% block title %}Contacter Parkio{% endblock %}

{% block body %}

    <div class="index__container-title home__container-title adminDoc__image">
        <h1>Nous contacter</h1>
    </div>

     <div class="home__container-content">
        <div class="edit__container-title home__h2 blue">
            <h2>Participer au développement du projet</h2>
        </div>

        <div>
            <div>

                <p>Parkio est une application open source développé sur Symfony. Vous pouvez apporter votre contribution de plusieurs façons. </p>


                <h3>Vous êtes développeur ? </h3>
                <p>
                    Si vous souhaitez participer au développement de nouvelles fonctionnalitées, n'hésitez pas à nous envoyer un mail à l'adresse suivante :

                    <a href="mailto:parkio@gmail.com">parkio@gmail.com</a>
                </p>

                <h3>Vous êtes un utilisateur ? </h3>
                <p>
                    Vous êtes utilisateurs de l'application et vous souhaiter nous faire des retours pour l'améliorer ? Vous pouvez nous faire remonter vos demandes en nous écrivant à l'adresse mail suivante : 

                    <a href="mailto:parkio@gmail.com">parkio@gmail.com</a>
                </p>
            </div>
        </div>


{% endblock %}