{% extends 'base.html.twig' %}

{% block meta_description %}
Crédits des photos libre de droit utilisées par l'application Parkio. 
{% endblock %}

{% block title %}Crédits photo{% endblock %}

{% block body %}

    <div class="index__container-title home__container-title adminDoc__image">
            <h1>Crédits photo</h1>
    </div>

    <div class="home__container-content">
        <div class="edit__container-title home__h2 blue">
            <h2>Liste des photographes</h2>
        </div>

        <div>
            <div>
                <p>Le site Parkio utilise des images libres de droits. Ci-dessous la liste des auteurs des photographies présentes sur le site : 
                
                    <ul class="creditList">
                        <li><a href="https://www.pexels.com/fr-fr/@craigmdennis/">Craig Dennis</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@davefilm/">Dave Morgan</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@ron-lach/">Ron Lach</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@tranmautritam/">Tranmautritam</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@rodnae-prod/">RODNAE Productions</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@mikhail-nilov/">Mikhail Nilov</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@karoldach/">Karol D</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@format-380633/">Format</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@travis-saylor-271738/">Travis Saylor</a></li>
                        <li><a href="https://www.pexels.com/fr-fr/@ian-panelo/">Nothing Ahead</a></li>
                    </ul>
                </p>
            </div>
        </div>



{% endblock %}