{% extends 'base.html.twig' %}

{% block meta_description %}
Découvrez les différentes fonctionnalités de l'application Parkio, l'application de gestion de prêts de matériels informatiques pour les PME et associations. 
Faite un recensement de votre parc informatique en fonction des différents types de matériels que dispose votre structure.
{% endblock %}

{% block title %}Fonctionnalités de Parkio{% endblock %}

{% block body %}
<div class="index__container"> 
    <div class="index__container-title home__container-title function__image">
        <h1>Les fonctionnalités de Parkio</h1>
    </div>

    <div class="home__container-content">

        <div class="edit__container-title home__h2 orange">
        <h2> Inventaire de votre parc informatique</h2>
        </div>
        <p>Parkio permet de recenser les principaux matériels informatiques d'une structures pouvant être mis à disposition d'un collaborateur ou d'un partenaire. Dans le futur, l'application pourra évoluer en fonction des retours utilisateurs afin d'intégrer de nouveaux périphériques (stations, éléments de transports, etc.).</p>
        <p><strong>Voici la liste du matériel informatique que vous pouvez actuellement recenser avec Parkio : </strong></p>
        <div class="material__flex-content">
            <div class="box__material img__material-1">
                <p>Les ordinateurs fixes</p>
            </div>
            <div class="box__material img__material-2">
                <p>Les portables</p>
            </div>
            <div class="box__material img__material-3">
                <p>Les videoprojecteurs</p>
            </div>
            <div class="box__material img__material-4">
                <p>Les écrans</p>
            </div>
            <div class="box__material img__material-5">
                <p>Les claviers</p>
            </div>
            <div class="box__material img__material-6">
                <p>Les souris</p>
            </div>
        </div>

        <div class="edit__container-title home__h2 orange">
            <h2> Attribution et suivi de matériel</h2>
        </div>

        <div class="box__content-flex">

            <div class="functionnality__tool">
                <p>
                    Parkio permet d'attribuer votre matériel informatique à vos collaborateurs et à leurs partenaires. Cette fonctionnalité passe par la création de tickets. Il existe deux types de tickets. L'un est lié à un collaborateur, avec la possibilité de lui attribuer différents types de matériels (ordinateur fixe, ordinateur portable, écran, clavier, souris etc.). L'autre est destiné aux prêts pour des personnes externes à la structure (partenaires, clients, etc.). Un collaborateur, en lien avec la personne externe est affecté pour le suivi de la récupération du matériel.
                    
                </p>

                <p>
                    
                    En maitrisant le suivi de la disponibilité du matériel de votre parc informatique, limitez les achats de matériels non pertinent et optimisez le taux d'utilisation de votre parc. 
                
                </p>
    
            </div>
    
            <img class="img__functionnality" src="{{asset('images/localisation.jpg')}}" alt="location - prêt informatique - ordinateur - parkio - gestion informatique ">
        
        
        </div>

        <div class="link__content-download link__mobile--display-none">
        
            <h2>Parkio est une application web gratuite que vous pouvez héberger sur vos propres serveurs.</h2>

            <p>Pour utiliser Parkio, téléchargez le repertoire gitHub du projet et déployez le sur votre serveur. L'application utilise un environnement Docker et a été développé sur le framework Symfony</p>

            <p><strong> Téléchargez l'application en cliquant sur le lien ci-dessous : </strong></p>

            <a href="https://github.com/CamilleAndreotta/parkio">Lien de téléchargement</a>

        </div>
       

    </div>
</div>
{% endblock %}