{% extends 'base.html.twig' %}

{% block title %}Parkio{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title home__container-title">
        <h1>Parkio, votre application de gestion de votre parc informatique</h1>
    </div>

    <div class="home__container-content">

        <div class="edit__container-title home__h2">
        <h2> Optimisez la gestion de votre matériel informatique </h2>
        </div>
        <p>
        
        L'informatique est un poste de dépenses important pour les différentes structures. En moyenne on estime pour une structure le budget alloué à ce poste entre 1% et 9% du Chiffre d'Affaires par an. Ces dépenses sont plus conséquentes pour les strutures du secteur tertiaire qui sont amenées à équiper leurs collaborateurs d'ordinateurs, écrans, et périphériques. Bien que ces dépenses sont indispensables, elles peuvent néanmoins entrainer des surcoûts en cas de mauvaise gestion. Ces surcouts peuvent être engendrés par : 

            <ul class="box__card-flex">
                <li class="flex__card bg__home--card-1">
                    <h3>Un renouvellement non pertinent de matériel informatique</h3>
                    <p class="card__mobile--d-none">
                    Il peut arriver qu'une structure achète du matériel informatique parce qu'elle n'avait pas de visibilité sur le matériel disponible. L'achat de ce matériel engendre un coût du fait que le nouveau matériel ne sera pas exploité et que celui-ci se dévalue dans le temps. 
                    </br>
                    </br>
                    Avec Parkio, faite l'inventaire de votre parc informatique et connaissez la disponibilité de votre matériel
                    </p>
                </li>
                <li class="flex__card bg__home--card-2">
                    <h3>La pertes de matériels</h3> 
                    <p class="card__mobile--d-none">Au delà de la disponibilité du matériel, l'entreprise doit savoir qui utilise son matériel afin le cas échéant traiter l'information. Le risque de manque de visibilité sur ces informations sont la non restitutions de matériel et l'état d'un parc informatique erroné. 
                    </br>
                    </br>
                    Avec Parkio, faite le suivi d'utilisation de votre matériel informatique et le suivi de vos prêts
                    </p>
                </li>
                <li class="flex__card bg__home--card-3">
                   <h3>Un changement dans vos effectifs</h3>
                   <p class="card__mobile--d-none">Les structures peuvent être confrontés à des départs. Ces événements peuvent être une source de pertes d'informations qui peuvent engendrer également des coûts dans le cas où il n'y a pas d'homogéinisation des pratiques. Cela se traduit par des pertes de temps non négligeables. 
                   </br>
                   </br>
                   Avec Parkio, capitalisez l'information dans un seul outil et évitez la multiplication des fichiers excels.
                   </p> 
                </li>
            </ul>

        
        </p>

        <div class="edit__container-title home__h2 blue">
        <h2>Offrez un outil collaboratif à haute accessibilité à vos équipes</h2>
        </div>

        <div class="box__content-flex">
            <p> 
            Le développement du travail à distance oblige les entreprises à s'équiper d'outils accessibles quelque soit le lieu où il est utilisé. Chez Parkio, nous avons développé une solution web accessible à partir d'une simple connexion internet. Notre application est disponible sur ordinateur fixe ou portable mais également tablette et smartphone. Vos équipes et collaborateurs sont en mesure de consulter n'importe où et n'importe quand le matériel qui a été mis à leur disposition et de voir l'état de leurs demandes de prêts de matériel. 
            </p>
            <img class="img__homepage" src="{{asset('images/img-accessibilite.jpg')}}" alt="accessibilite - teletravail - application web - parkio - gestion informatique ">
        
        
        </div>
       

     
    
    </div>


</div>

{% endblock %}