{% extends 'base.html.twig' %}

{% block meta_description %}
Parkio, l'application pour gérer votre park informatique développé sur Symfony. Télécharger et installez l'application sur vos propres serveurs.
{% endblock %}

{% block title %}Parkio{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title home__container-title home__image">
        <h1>Parkio, votre application de gestion de votre parc informatique</h1>
    </div>

    <div class="home__container-content">

        <div class="edit__container-title home__h2 orange">
        <h2> Optimisez la gestion de votre matériel informatique </h2>
        </div>
        <p>
    
        L'informatique est un poste de dépenses important pour les structures (associations, petites et moyennes entreprises, etc.). Le budget alloué par les organisations varie entre 1% et 9% de leur chiffre d'affaires par an. Ce pourcentage est plus important pour les structures du secteur tertiaire pour qui l'informatique est devenu un outil de production quasiment indispensable. 

        <br>
        <br>

        Le développement du télétravail a engendré pour les structures d'avoir une traçabilité plus importante de leur matériel informatique. Par exemple, les entreprises disposant d'un parc informatique essentiellement constitué de pc fixes étaient peu impactées par le besoin de traçabilité, ce matériel restant généralement dans leur locaux. Avec les appareils mobiles et leurs périphériques, la traçabilité est plus complexe et les structures ont besoin de connaitre la disponibilité du matériel de leur parc.


        </br>
        </br>
        <strong>Ces surcouts peuvent être engendrés par </strong>: 

            <ul class="box__card-flex">
                <li class="flex__card bg__home--card-1">
                    <h3>L'achat non pertinent de matériel informatique</h3>
                    <p class="card__mobile--d-none">
                    Faites l'inventaire de votre parc informatique pour connaitre la disponibilité de votre matériel
                    </p>
                </li>
                <li class="flex__card bg__home--card-2">
                    <h3>La pertes de matériels</h3> 
                    <p class="card__mobile--d-none">
                    Faites le suivi d'utilisation de votre matériel informatique et le suivi de vos prêts
                    </p>
                </li>
                <li class="flex__card bg__home--card-3">
                   <h3>Un changement dans vos effectifs</h3>
                   <p class="card__mobile--d-none">
                   Capitalisez l'information dans un seul outil et évitez la multiplication des fichiers excels.
                   </p> 
                </li>
            </ul>

        
        </p>

        <div class="edit__container-title home__h2 blue">
        <h2>Offrez un outil collaboratif à haute accessibilité à vos équipes</h2>
        </div>

        <div class="box__content-flex">

            <div class="collaborative__tool">
                <p> 
                    Grâce à Parkio, les organisations (associations, petites et moyennes entreprises) peuvent disposer gratuitement d'un outil de traçabilité de leur matériel informatique. Parkio permet pour le responsable informatique de faire l'inventaire du matériel informatique constituant son parc (ordinateurs fixes, pc portables, vidéoprojecteurs, moniteurs, souris, claviers). La solution est accessible à l'ensemble des collaborateurs sur différents displays (mobile, tablette, ordinateur) à partir d'une simple connexion internet. 

                    <br>
                    <br>

                    Avec Parkio, chaque collaborateur est en mesure de connaitre la liste du matériel informatique à sa disposition avec les dates de retours prévus. Ils peuvent également faire des demandes de prêts ponctuels pour du matériel spécifique (vidéoprojecteur) pour eux même ou pour un partenaire, quelque soit le lieu où ils travaillent. 
                </p>
                <div class="link__content-download link__mobile--display-none">
                    <h2>Parkio est une application web gratuite que vous pouvez héberger sur vos propres serveurs.</h2>

                    <p>Pour utiliser Parkio, téléchargez le repertoire gitHub du projet et déployez le sur votre serveur. L'application utilise un environnement Docker et a été développé sur le framework Symfony</p>

                    <p><strong> Téléchargez l'application en cliquant sur le lien ci-dessous : </strong></p>

                    <a href="https://github.com/CamilleAndreotta/parkio">Lien de téléchargement</a>

                </div>
            </div>
    
            <img class="img__homepage" src="{{asset('images/img-accessibilite.jpg')}}" alt="accessibilite - teletravail - application web - parkio - gestion informatique ">
        
        
        </div>
       

     
    
    </div>

</div>

{% endblock %}