{% extends 'base.html.twig' %}

{% block title %}Documentation Utilisateur{% endblock %}

{% block body %}
<div class="index__container doc__box"> 

    <div class="index__container-title home__container-title userDoc__image">
        <h1>Documentation à destination des utilisateurs</h1>
    </div>

    <div class="home__container-content ">

        <div class="bloc__title-btn doc__user-profil">
            <h2>Mon profil</h2>
            <div> <span>+</span> </div>
        </div>
        <div class="text__area-profil display-none">
            <p>teste</p>
        </div>

        <div class="bloc__title-btn doc__user-myAsk">
            <h2>Mes demandes de prêts</h2>
            <div> <span>+</span> </div>
        </div>
        <div class="text__area-myAsk display-none">
            <p>teste</p>
        </div>


         <div class="bloc__title-btn doc__user-doAsk">
            <h2>Faire un demande de prêts</h2>
            <div> <span>+</span> </div>
        </div>
        <div class="text__area-doAsk display-none">
            <p>teste</p>
        </div>






    <div>

</div>

 <script src="{{asset('js/docUser.js')}}"></script>

{% endblock %}



   

