{% extends 'base.html.twig' %}

{% block title %}New InternalLocation{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title orange">
        <h1>Créer un ticket de location interne</h1>
    </div>

    <div class="edit__container-form">
        {{ include('back/internal_location/_form.html.twig') }}
    </div>

    <div class="edit__container-form">

        <div class="new__container-btn">
            <a class="btn-list" href="{{ path('app_back_internal_location_index') }}">back to list</a>
        </div>
        
    </div>

</div>
{% endblock %}
